.prodContainer{
    display: flex;
    justify-content: space-between;
    background-color: #f9fafb;
    height: 100vh;
}

.prodBox{
    width: 100%;
    height: 80%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
}
.tableBox{
    display: flex;
    width: 1350px;
    border: 1px solid #bbb;
    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
    margin: auto;
}

.tableBox table{
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border-style: hidden;
}

.tableBox th, td{
    border-bottom: 1px solid #bbb;
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    padding: 10px;
}

.prodButton{
    background-color: #ececf0;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btProd, .btCate{
    font-size: 16px;
    background-color: #ececf0;
    border-radius: 15px;
    text-align: center;
    height: 30px;
    padding: 5px;
}

.on {
    background-color: #fff;
}

.btProdLogo, .btCateLogo{
    width: 25px;
    height: 25px;
    margin: 5px;
}

.search {
  position: relative;
  width: 300px;
  margin-right: 40px;
}

#newCategory {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  font-size: 20px;
  padding: 7px;
}

.serchContainer{
    display: flex;
    justify-content:flex-end;
    margin-right: 40px;
}

#searchForm{
    width: 500px;
    display: flex;
}

#addButton{
    background-color: black;
    color: #fff;
    width: 120px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#modifyCategory{
    border: 1px solid #e5e5e5;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    width: 60px;
    height: 30px;
    border-radius: 10px;
}

#deleteCategory{
    border: 1px solid #e5e5e5;
    background-color: #fff;
    color: #FF0000;
    font-size: 15px;
    width: 60px;
    height: 30px;
    border-radius: 10px;
}


